body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #0b0612;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
.orbitron {
    font-family: 'Orbitron', sans-serif;
}
.neon-border {
    box-shadow: 0 0 15px rgba(0, 242, 254, 0.4), inset 0 0 10px rgba(0, 242, 254, 0.2);
    border: 2px solid #00f2fe;
}
.neon-border-pink {
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.4), inset 0 0 10px rgba(255, 0, 127, 0.2);
    border: 2px solid #ff007f;
}
.neon-text-blue {
    text-shadow: 0 0 10px rgba(0, 242, 254, 0.8);
}
.neon-text-pink {
    text-shadow: 0 0 10px rgba(255, 0, 127, 0.8);
}
.v-btn {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease;
}
.v-btn:active {
    background: rgba(0, 242, 254, 0.2);
    border-color: #00f2fe;
    box-shadow: 0 0 15px rgba(0, 242, 254, 0.6);
    transform: scale(0.95);
}